@import "../../node_modules/jack-hermanson-css-lib/src/main";
@import "theme";
@import "layout";

a {
  text-decoration: none;
  color: $light;
  &:hover {
    color: white;
  }
}

body {
  overflow-x: hidden;
}

.icon-button {
  line-height: 1;
  padding: 6px;
  display: flex;
}

dl {
  margin-bottom: 0;
}
